@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@{
	Layout = null;
}

<html>
	<body>
		<img src="@Model.Logo.Url()"> </img>
	</body>
</html>